{% extends 'base.html' %}
{% block title %}إضافة / تعديل عملة{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-3">
      <h5>إضافة عملة</h5>
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">{{ form.code.label }}{{ form.code(class_='form-control') }}</div>
        <div class="mb-3">{{ form.name.label }}{{ form.name(class_='form-control') }}</div>
        <div class="mb-3">{{ form.rate.label }}{{ form.rate(class_='form-control') }}</div>
        <div class="d-grid">{{ form.submit(class_='btn btn-primary') }}</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
